{%extends 'base.html.twig'%}
{%block title%} {{titulo}} {%endblock%}
{%block body%}
<h1>{{titulo}}</h1>
<p>{{msg}}</p>
{{ form(form) }}
<a href="{{ path('consultaPessoas')}}" class='btn btn-info'>Voltar</a>
{% endblock %}