{%extends 'base.html.twig'%}
{%block title%} {{titulo}} {%endblock%}
{%block body%}

    {% for msg in app.flashes('alerta') %}
        <div class="alert alert-warning" role="alert">
            {{ msg }}
        </div>
    {% endfor %}

    {% for msg in app.flashes('sucesso') %}
        <div class="alert alert-success" role="alert">
            {{ msg }}
            <a href="{{ path('consultaPessoas') }}" class="btn btn-primary">Consultar Pessoas</a>
        </div>
    {% endfor %}

    <h1 class="display-6 small text-center"> {{titulo}} </h1>
    
    {{ form(form)}}
{% endblock %}